import(chromosomes)
import(mclust)
importFrom("affxparser", "readCel", "readCelHeader")
importFrom("aroma.light", "normalizeTumorBoost")
importFrom("ASCAT", "ascat.aspcf", "ascat.runAscat")
importFrom("Biostrings", "fasta.seqlengths", "readDNAStringSet", "alphabetFrequency", "subseq")
importFrom("BSgenome", "getSeq", "installed.genomes", "available.genomes", "providerVersion")
importFrom("changepoint", "cpt.mean")
importFrom("copynumber", "winsorize")
importFrom("data.table", "fread")
importFrom("doParallel", "registerDoParallel")
importFrom("dplyr", "as.tbl", "group_by", "summarize", "left_join")
importFrom("DT", "datatable", "formatCurrency", "formatStyle", "formatRound", "styleEqual")
importFrom("foreach", "foreach", "%do%", "%dopar%")
importFrom("GenomeInfoDb", "seqlengths")
importFrom("GenomicRanges", "GRanges", "reduce", "sort", "duplicated", "width", "makeGRangesFromDataFrame", "findOverlaps", "trim")
importFrom("graphics", "abline", "boxplot", "par", "plot", "points", "rect", "segments", "text", "box", "layout", "lines")
importFrom("grDevices", "adjustcolor", "cm", "dev.off", "pdf", "colorRampPalette", "col2rgb", "png")
importFrom("iotools", "write.csv.raw")
importFrom("IRanges", "IRanges")
importFrom("limma", "loessFit", "weighted.median")
importFrom("mclust", "defaultPrior", "Mclust")
importFrom("parallel", "makeCluster", "stopCluster", "detectCores")
importFrom("rhdf5", "h5read")
#importFrom("sequenza", "baf.model.fit", "get.ci", "baf.bayes")
importFrom("stats", "density", "median", "quantile", "runmed", "approxfun", "setNames")
importFrom("tools", "file_path_as_absolute", "file_ext")
importFrom("utils", "data", "read.table", "write.table", "count.fields", "installed.packages")
export("EaCoN.Segment", "EaCoN.Segment.ff", "EaCoN.Segment.ff.Batch", "EaCoN.ASCN", "EaCoN.ASCN.ff", "EaCoN.ASCN.ff.Batch", "EaCoN.Annotate", "EaCoN.Annotate.ff", "EaCoN.Annotate.ff.Batch", "EaCoN.CS.Process", "EaCoN.CS.Process.Batch", "EaCoN.OS.Process", "EaCoN.OS.Process.Batch", "EaCoN.SNP6.Process", "EaCoN.SNP6.Process.Batch", "EaCoN.BINpack.Maker", "EaCoN.WES.Bin", "EaCoN.WES.Bin.Batch", "EaCoN.WES.Normalize", "EaCoN.WES.Normalize.ff", "EaCoN.WES.Normalize.ff.Batch", "EaCoN.WES.Process", "EaCoN.BedCheck", "EaCoN.set.bitmapType")
