import(mclust)
importFrom("affxparser", "readCel", "readCelHeader")
importFrom("aroma.light", "normalizeTumorBoost")
importFrom("ASCAT", "ascat.aspcf", "ascat.runAscat")
importFrom("Biostrings", "fasta.seqlengths", "readDNAStringSet", "alphabetFrequency", "subseq")
importFrom("BSgenome", "getSeq", "installed.genomes", "available.genomes", "providerVersion")
importFrom("changepoint", "cpt.mean")
importFrom("data.table", "fread")
importFrom("doParallel", "registerDoParallel")
importFrom("dplyr", "as.tbl", "group_by", "summarize", "left_join")
importFrom("DT", "datatable", "formatCurrency", "formatStyle", "formatRound", "styleEqual")
#importFrom("facets", "clustersegs", "findDiploidLogR", "fitcncf", "jointsegsummary", "prune.cpt.tree", "scanSnp", "segsnps")
importFrom("foreach", "foreach", "%do%", "%dopar%")
importFrom("GenomeInfoDb", "seqlengths")
importFrom("GenomicRanges", "GRanges", "reduce", "sort", "duplicated", "width", "makeGRangesFromDataFrame", "findOverlaps", "trim")
importFrom("graphics", "abline", "boxplot", "legend", "par", "plot", "points", "rect", "segments", "text", "box", "layout", "lines")
importFrom("grDevices", "adjustcolor", "cm", "dev.off", "pdf", "colorRampPalette", "col2rgb", "png")
importFrom("iotools", "write.csv.raw")
importFrom("IRanges", "IRanges")
importFrom("limma", "loessFit", "weighted.median")
importFrom("mclust", "defaultPrior", "Mclust")
importFrom("parallel", "makeCluster", "stopCluster", "detectCores")
importFrom("R.utils", "gunzip", "bunzip2")
importFrom("rhdf5", "h5read")
importFrom("seqinr", "GC")
importFrom("stats", "approxfun", "density", "end", "mad", "median", "quantile", "runmed", "setNames", "start")
importFrom("tools", "file_path_as_absolute", "file_ext")
importFrom("utils", "data", "read.table", "write.table", "count.fields", "installed.packages", "unzip", "head", "tail")
export("Segment.ASCAT", "Segment.FACETS", "Segment.SEQUENZA", "Segment.ff", "Segment.ff.Batch", "ASCN.ASCAT", "ASCN.FACETS", "ASCN.SEQUENZA", "ASCN.ff", "ASCN.ff.Batch", "Annotate", "Annotate.ff", "Annotate.ff.Batch", "CS.Process", "CS.Process.Batch", "OS.Process", "OS.Process.Batch", "SNP6.Process", "SNP6.Process.Batch", "BINpack.Maker", "WES.Bin", "WES.Bin.Batch", "WES.Normalize", "WES.Normalize.ff", "WES.Normalize.ff.Batch", "EaCoN.set.bitmapType")
